p{
    color:#000000;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size: 40px;
    margin-bottom: 50px;
}
body{
    background-color:#00bfff;
}
h1{
    margin-bottom:0px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 70px;

}
.heda{
    height:400px;
    width:1500px;
    border-radius: 40px;

}
.rinku{
    border-radius: 40px;
}


hjkkj
